<?xml version="1.0"?>
<launch>
    <!-- This launchfile loads the arena_camera as a nodelet in a new
         nodelet_manager  -->

    <arg name="respawn" default="false" />
    <arg name="debug" default="false" />
    <arg name="node_name" default="arena_camera_node" />
    <arg name="config_file" default="$(find arena_camera)/config/default.yaml" />

    <arg name="camera_user_id" default="" />
    <arg name="serial_number" default="" />

    <arg name="run_web_server" default="false" />
    <arg name="web_server_port" default="8080" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

    <arg name="manager" default="arena_camera_nodelet_manager" />

    <arg     if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

    <!-- Nodelet manager -->
    <node name="$(arg manager)" pkg="nodelet" type="nodelet" output="screen"
            launch-prefix="$(arg launch_prefix)"
            args="manager" />

    <!-- The main camera driver -->
    <node name="arena_camera" pkg="nodelet" type="nodelet" output="screen"
            args="load arena_camera/ArenaCameraStreamingNodelet $(arg manager)" >
        <rosparam command="load" file="$(arg config_file)" />

        <param name="device_user_id" value='$(arg camera_user_id)'/>
        <param name="serial_number" value="$(arg serial_number)" />
    </node>

    <node name="web_video_server" pkg="web_video_server" type="web_video_server"
            output="screen" if="$(arg run_web_server)" >
        <param name="port" value="$(arg web_server_port)"/>
    </node>

    <!-- Disable some of the image_transport endpoints-->
    <group ns="image_raw">
        <rosparam param="disable_pub_plugins">
        - 'image_transport/compressedDepth'
        - 'image_transport/theora'
        </rosparam>
    </group>

</launch>
